<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portada ITSSNP</title>
</head>
<body style="margin: 100px;">
    <header>
        <p style="text-align: center;">
            <img src="/img/logoITSSNP.jpg" alt="logoITSSNP" width="200" height="200">
        </p>
        <h1 style="text-align: center;">Instituto Tecnologico Superior de la Sierra Norte de Puebla</h1>
    </header>

    <h2 style="text-align: center;">Ingeniería Informática</h2>

    <hr>
    <p style="text-align: center; font-size: 20px;">
        <strong>Nombre: </strong>Rodríguez Juárez José <br/>
        <strong>Asignatura: </strong>Desarrollo Web Avanzado <br/>
        <strong>Docente: </strong>M.S.C Luna Sanchez Adolfo <br/>
    </p>
    <hr>

    <footer style="text-align: center;">
        <address>
            <strong>Semestre: </strong>8° <br/>
            <strong>Fecha: </strong> 20/05/2021

        </address>
    </footer>
</body>
</html>